﻿header {
    height: 67px;
}

.navbar-img {
    height: 50px;
}

.pb-3 {
    padding-top: 40px;
}

.tbody {
    height: calc(100vh - 60px - 68px);
    overflow-y: scroll;
    /*overflow: hidden;*/
    background-image: url(/Images/714.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(255,255,255,0.95);
    background-blend-mode: overlay;
}

.button {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer;
}

    .button:hover {
        background-color: white; /* Green */
        color: #008CBA;
        border: 2px solid #008CBA;
    }