﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="top: 20vh;">
    <h1 class="display-4">MSV Log Processor</h1>
    <p>(C) 2020 Bc. Petr Stříteský</p>
</div>
