﻿@page
@model MSV_LP.Pages.Faults.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fault</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.LogID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.LogID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.zkratka)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.zkratka)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.cas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.cas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.trvani)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.trvani)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.zdrBit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.zdrBit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.rychlost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.rychlost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.PT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.PT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.kontext)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.kontext)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.CisloPor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.CisloPor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte0)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte0)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.drahaH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.drahaH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.drahaL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.drahaL)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Fault.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
