﻿@page
@model MSV_LP.Pages.Faults.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fault</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.LogID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.LogID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.zkratka)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.zkratka)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.cas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.cas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.trvani)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.trvani)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.zdrBit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.zdrBit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.rychlost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.rychlost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.PT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.PT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.kontext)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.kontext)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.CisloPor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.CisloPor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte0)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte0)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.byte3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.byte3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.drahaH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.drahaH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fault.drahaL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fault.drahaL)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fault.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
