﻿@page
@model MSV_LP.Pages.Faults.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fault</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fault.ID" />
            <div class="form-group">
                <label asp-for="Fault.LogID" class="control-label"></label>
                <input asp-for="Fault.LogID" class="form-control" />
                <span asp-validation-for="Fault.LogID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.zkratka" class="control-label"></label>
                <input asp-for="Fault.zkratka" class="form-control" />
                <span asp-validation-for="Fault.zkratka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.datum" class="control-label"></label>
                <input asp-for="Fault.datum" class="form-control" />
                <span asp-validation-for="Fault.datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.cas" class="control-label"></label>
                <input asp-for="Fault.cas" class="form-control" />
                <span asp-validation-for="Fault.cas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.trvani" class="control-label"></label>
                <input asp-for="Fault.trvani" class="form-control" />
                <span asp-validation-for="Fault.trvani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.zdrBit" class="control-label"></label>
                <input asp-for="Fault.zdrBit" class="form-control" />
                <span asp-validation-for="Fault.zdrBit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.rychlost" class="control-label"></label>
                <input asp-for="Fault.rychlost" class="form-control" />
                <span asp-validation-for="Fault.rychlost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.PT" class="control-label"></label>
                <input asp-for="Fault.PT" class="form-control" />
                <span asp-validation-for="Fault.PT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.kontext" class="control-label"></label>
                <input asp-for="Fault.kontext" class="form-control" />
                <span asp-validation-for="Fault.kontext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.CisloPor" class="control-label"></label>
                <input asp-for="Fault.CisloPor" class="form-control" />
                <span asp-validation-for="Fault.CisloPor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.byte0" class="control-label"></label>
                <input asp-for="Fault.byte0" class="form-control" />
                <span asp-validation-for="Fault.byte0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.byte1" class="control-label"></label>
                <input asp-for="Fault.byte1" class="form-control" />
                <span asp-validation-for="Fault.byte1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.byte2" class="control-label"></label>
                <input asp-for="Fault.byte2" class="form-control" />
                <span asp-validation-for="Fault.byte2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.byte3" class="control-label"></label>
                <input asp-for="Fault.byte3" class="form-control" />
                <span asp-validation-for="Fault.byte3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.drahaH" class="control-label"></label>
                <input asp-for="Fault.drahaH" class="form-control" />
                <span asp-validation-for="Fault.drahaH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault.drahaL" class="control-label"></label>
                <input asp-for="Fault.drahaL" class="form-control" />
                <span asp-validation-for="Fault.drahaL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
