﻿@page
@model MSV_LP.Pages.Faults.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index poruch</h1>
@*
<p>
    <a asp-page="Create">Create New</a>
</p>*@

<form>
    <p>
        Lokomotiva:
        Vyhledávání: <input type="text" asp-for="SearchString" />
        Dle čísla:
        <select asp-for="LocomotiveNo" asp-items="Model.locoList">
            <option value="">Všechny</option>
        </select>
        Dle poruchy:
        <select asp-for="FaultSearchString" asp-items="Model.faultList">
            <option value="">Všechny</option>
        </select>
        Datum:
        <select asp-for="DateNo" asp-items="Model.dateList">
            <option value="">Vše</option>
        </select>
        <input type="submit" value="Filtruj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                    <th>
                        @*  @Html.DisplayNameFor(model => model.FaultLog[0].ID) *@
                        ID Logu
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FaultLog[0].Locomotive)
                    </th>
                    <th>
                        @*
                        @Html.DisplayNameFor(model => model.Fault[0].ID)*@
                        ID Poruchy
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].zkratka)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].datum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].cas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].trvani)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].zdrBit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].rychlost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].PT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].kontext)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].CisloPor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].byte0)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].byte1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].byte2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].byte3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].drahaH)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fault[0].drahaL)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item1 in Model.FaultLog)
                {
                    @foreach (var item2 in Model.Fault)
                    {
                        <tr>
                            <td>
                            @Html.DisplayFor(modelItem => item1.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Locomotive)
                        </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.zkratka)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.datum)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.cas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.trvani)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.zdrBit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.rychlost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.PT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.kontext)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.CisloPor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.byte0)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.byte1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.byte2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.byte3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.drahaH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.drahaL)
                            </td>
                            @*
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item2.ID">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item2.ID">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item2.ID">Delete</a>
                            </td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
