﻿@page
@model MSV_LP.Pages.FaultLogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FaultLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaultLog.Locomotive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaultLog.Locomotive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaultLog.DownloadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaultLog.DownloadDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaultLog.DownloadTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaultLog.DownloadTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FaultLog.Odometr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FaultLog.Odometr)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FaultLog.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
