﻿@page
@model MSV_LP.Pages.FaultLogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Záznamy chybových logů</h1>

<p>
    <a class="button" asp-page="Upload">Nahrát log</a>
</p>

<form>
    <p>
        Hledej lokomotivu: <input type="text" asp-for="SearchString" />

        Dle čísla:
        <select asp-for="LocomNo" asp-items="Model.locoList">
            <option value="">Všechny</option>
        </select>

        Dle data:
        <select asp-for="dateNo" asp-items="Model.dateList">
            <option value="">Všechny</option>
        </select>

        <input type="submit" value="Filtruj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FaultLog[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultLog[0].Locomotive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultLog[0].DownloadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultLog[0].DownloadTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultLog[0].Odometr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FaultLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locomotive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometr)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
