﻿@page
@model MSV_LP.Pages.FaultLogs.UploadModel

@{
    ViewData["Title"] = "Buffered Single File Upload (Db)";
}

<h1>Nahrajte chybový log .mhx</h1>

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file" />
            <span asp-validation-for="FileUpload.FormFile"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="button" type="submit" value="Nahrát" />
</form>

<p class="result">
    @Model.Result
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}